@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Ubuntu:wght@300;400;500&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



/* NAV BAR */
 .navbar-main {
     position: fixed;
     width: 100%;
     padding: 30px 0;
     font-family: 'Ubuntu', sans-serif;
     transition: all 0.3s ease;
     z-index: 2;
 }
 .navbar-main.sticky {
     padding: 20px 0;
     background: #000cb4;
     z-index: 9999;
 }
 .navbar-main .max-width {

    display: flex;
    align-items: center;
    justify-content:space-between;
 }

 .navbar-main .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
 }

 .navbar-main .logo a span {
     color: rgb(2, 73, 204);
     text-decoration: none;
 }

 .navbar-main.sticky .logo a span{

        color: white;
 }
 .navbar-main .menu li{
     list-style: none;
     display: inline-block;
 }

 .navbar-main .menu li a{
     color: #fff;
     font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-decoration: none;
 }

 .navbar-main .menu li a:hover{
    color: rgb(0, 0, 139);
 }

 .navbar-main.sticky .menu li a:hover{
     color: #fff;
 }

 /* ANIMATION  */

 @keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }
  

  .animax {
    margin: auto;
    font-size: 3.5rem;
    font-weight: 500;
    animation: lights 5s 750ms linear infinite;
  }


  

 /* menu btn styling*/

 .menu-btn {
     color: #fff;
     font-size: 23px;
     cursor: pointer;
     display: none;
 }


 /*home section*/

 .home {
     display: flex;
    
     /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, hsla(259, 100%, 16%, 0.459), hsla(204, 89%, 39%, 0.37)), url("../images/soft.jpeg");
     background-size:cover ;
     background-attachment: fixed;
     height: 100vh;
     color: #329bf1;
     min-height: 500px;
     font-family: 'Ubuntu', sans-serif;

 }

 .home .max-width{
     margin: auto 0 auto 40px;

 }


 .home .home-content .text-1{
     font-size: 27px;
 }

 .home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
} 

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: #c9e0f7;
}

/* all similar content styling codes */


section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content, 
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: rgb(80, 20, 220);
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}


/*ABOUT SECTION*/
#about{
    background: rgb(238, 238, 238);
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 80px;
      box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             1em 1em 1em rgba(0,0,0,0.3);
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: rgb(0, 41, 226);
}
.about .about-content .right p{
    font-size: 20px;
    text-align: justify;
}
/* .about .about-content .right a{
    display: inline-block;
    text-decoration: none;
    background: rgb(5, 72, 197);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: rgb(36, 5, 212);
    background: none;
} */


@keyframes pulse {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    33% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }
  .button {
    display: inline-flex;
    align-items: center;
    background: rgb(5, 72, 197);
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 45px;
    padding: 0 30px;
    color: #fff;
    font-family: Lato, Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    will-change: transform;
  }
  .button:hover {
    background: rgb(17, 100, 255);
    color: white;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2);
    transform: translate3d(0, -2px, 0);
  }
  .button:active {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    transform: translate3d(0, 1px, 0);
  }
  
  .pulse {
    position: relative;
  }
  .pulse:before, .pulse:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    opacity: 0;
    margin: auto;
  }
  .pulse:before {
    animation: pulse 1.5s infinite linear;
  }
  .pulse:after {
    animation: pulse 2s 0.4s infinite linear;
  }
  .pulse:hover:before, .pulse:hover:after {
    display: none;
  }
  

/* Projects*/

.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-orange-darker {
    background: linear-gradient(to right, #f88901, #925800) !important;
    color: #fff;
}
.l-bg-cyan {
    background: linear-gradient(135deg, #1b9cff, #005ea1) !important;
    color: #fff;
}

.l-bg-black {
    background: linear-gradient(135deg, #0b004b, #18018a) !important;
    color: #fff;
}

.l-bg-white {
    background: linear-gradient(135deg, #ffffff, #ffffff) !important;
    color: #fff;
}


.l-bg-yellow {
    background: linear-gradient(to right, #b6b300, #8b8d00) !important;
    color: #fff;
}
.l-bg-light-blue {
    background: linear-gradient(to right, #07b3d1, #096a97) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}
.l-bg-green {
    background: linear-gradient(135deg, #00b10f 0%, #00831c 100%) !important;
    color: #fff;
}
.l-bg-purple {
    background: linear-gradient(135deg, #7e43ca 0%, #8468eb 100%) !important;
    color: #fff;
}
.l-bg-blue {
    background: linear-gradient(135deg, #2825ce 0%, #320fb1 100%) !important;
    color: #fff;
}
.l-bg-aqua {
    background: linear-gradient(135deg, #093594 0%, #2775eb 100%) !important;
    color: #fff;
}
.l-bg-light-purple {
    background: linear-gradient(135deg, #a122eb 0%, #b867e7 100%) !important;
    color: #fff;
}



.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.projects{
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    grid-gap: 30px;
    z-index: 0;

}



.item{
    position: relative;
    background: lightgray;
    box-shadow: 0 0 5px 0 black;
    transition: all 300ms;
}
.item:hover{
    transform: scale(1.05);
}

.item-text {
    padding: 0.8em;
    margin: 0px;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}

.item-text h1{
    font-size: 20px;
    font-weight: 900;
}

.item-img{
    width: 100%;
    display: block;
}

.item-btn{
    text-decoration: none;
    padding: 7px;
    color: cornsilk;
    position: absolute;
    bottom: 0;
    text-align: center; 
    width: 100%;
    border: 0.5px solid black;
    background: #0A4792;
    font-weight: 500;


}
.item-btn a{
    text-decoration: none;
    color: cornsilk;

}



.skills-alt h1{
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;

}

.skills-alt h1::before{
    content: "";
    position: absolute;
    width: 170px;
    height: 3px;
    bottom: 10px;
    left: 50%;
    background: #111;
    transform: translate(-50%);
}

.skills-alt {
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: 'Ubuntu', sans-serif;

}


.skills-alt h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 25%;

}

.skills-bars{
    width: 50%;
    background-color: rgb(238, 238, 238);
    margin-left: 25%;
    border: 2px solid black;
    border-radius: 5px;

}

.skills2{
 
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    border-radius: 3px;
    background: rgb(227, 223, 250);



}

.row {
    display: flex;
    /* margin-bottom: 90px; */
  }
  
  .column {
    flex: 50%;
  }

  .colum2 {
      margin-top: 30px;
  }



.html{
    width: 85%;
    background: #DD4B25;
}

.css{
    width: 56%;
    background: #038FCB;
}


.js{
    width: 59%;
    background: #EFD81D;
}
.mysql{
    width: 75%;
    background: #DE8A00;
}

.node{
    width: 60%;
    background: #71A563;
}

.next{
    width: 45%;
    background: #3445da;
}

.react{
    width: 50%;
    background: #5ED3F3;
}

.php {
    width: 50%;
    background: #7377AD;
}

.figma {
    width: 50%;
    background: #9D56F7;

}
.wordpress {

    width: 60%;
    background: #02719C;
}


.contact{
    width: 80%;
}

/*EXTRA SKILLS*/



@import url('https://fonts.googleapis.com/css?family=Montserrat');



:root {
  --marquee-width: 100vw;
  --marquee-height: 25vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 2s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: rgb(255, 255, 255);
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right,  rgb(5, 72, 197) 0%, transparent 100%);
}

.marquee:after {
  right: 0;
  background: linear-gradient(to left,  rgb(5, 72, 197) 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
  border: 2px solid #eee;
}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }
}


.contact .redes ul{
    padding: 1px;
    margin: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.contact .redes ul li {
    text-align: center;
}








@media (max-width: 1100px){
    .home .max-width{
        margin-left: 0px;
    }

}

@media (max-width: 990px){
    .max-width{
        padding: 0 50px;
    
    }

    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
     .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }

    

}

.contacto{
    background: #000cb4;
}

.contacto h1{
    color: #fff;
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;

}

.contacto h1::before{
    content: "";
    position: absolute;
    width: 170px;
    height: 3px;
    bottom: 10px;
    left: 50%;
    background: rgb(255, 255, 255);
    transform: translate(-50%);
}

.contact-info {
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 40px;
    padding-bottom: 15px;

}

.contact-info span {
    position: relative;
    font-size: 25px;
    font-weight: 500;
}

.redes{
    display: flex;
    height: 0.1vh;
    align-items: center;
    justify-content: center;
    
}

.redes ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50 px;
    text-align: center;
}

.redes ul li a{
    display: block;
    padding: 0 10px;
    background-color: #333;
    color: white;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 2);
    transition: .2s;
}

.redes ul:hover a{
    filter:blur(1px);
}

.redes ul li a:hover{
    transform: translate(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 4);
    filter: none;
}

.redes ul li .facebook:hover{
    background-color: blue;
}

.redes ul li .instagram:hover{
    background-color: #CA2D8D;
}

.redes ul li .gmail:hover{
    background-color: red;
}

.redes ul li .github:hover{
    background-color: rgb(74, 88, 79);
}

.redes ul li .linkedin:hover{
    background-color: #0A66C2;
}



.contact .max-width span{
    background: lightgreen;
    font-size: 15px;
    padding: 0px 300px;

    
}



footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

@media (max-width: 900px){

    .projects{

        grid-template-columns:repeat(2, 1fr) ;
        grid-gap: 30px;
    
    }
    

}

@media (max-width: 690px){



    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before{
        content: "\f00d";
    }
   

    .navbar-main .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease ;
    }

    .navbar-main .menu.active{

        left: 0;
    }

    .navbar-main .menu li{
        display: block;
    }

    .navbar-main .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
        
    }

    .home .home-content .text-2{
        font-size: 70px;
    } 
    
    .home .home-content .text-3{
        font-size: 35px;
    }
    

    .projects{
        grid-template-columns:repeat(2,1fr) ;
    }


}





@media (max-width: 680px){

    .projects{

        grid-template-columns:repeat(1, 1fr) ;
        grid-gap: 30px;
    
    }
    


        .column {
          width: 100%;
        }
    
    .max-width {
        padding: 0 25px;
    }

    .home .home-content .text-2{
        font-size: 55px;
    } 
    
    .home .home-content .text-3{
        font-size: 29px;
    }

    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
}
